<% for(var i = nextSong(nextSong(currentSong)); i <= prevSong(prevSong(currentSong)); i++) { %>
  <div class="gallery-item">
   <img class="image" src="<%= songs[i].image %>"/>
   <div class="song"><%= songs[i].name %></div>
   <div class="artist"><%= songs[i].artist %></div>
 </div>
<% } %>
