<div class="small-icon" id="prev" style="background: url('<%= songs[prevSong(currentSong)].image %>');">
  <div class="overlay">
    <svg viewBox="0 0 90 90" preserveAspectRatio="none">
      <g>
        <svg width="90" height="90">
          <path fill="#fff" d="m63.13,26.30901c-0.82301,-0.345 -1.78001,-0.162 -2.41701,0.46201l-14.904,14.61501v-13.028c0,-0.89201 -0.54,-1.70401 -1.362,-2.04901s-1.78,-0.162 -2.417,0.46201l-18.13,17.77798c-0.424,0.416 -0.666,0.99301 -0.666,1.58701s0.242,1.17101 0.666,1.58701l18.131,17.77899c0.637,0.62401 1.594,0.80701 2.416,0.46201c0.823,-0.345 1.362,-1.157 1.362,-2.04901v-13.028l14.904,14.61501c0.637,0.62401 1.594,0.80701 2.41701,0.46201s1.362,-1.157 1.362,-2.04901v-35.558c-0.00101,-0.892 -0.54001,-1.70299 -1.362,-2.04799z" />
        </svg>
      </g>
    </svg>
  </div>
</div>
<div class="large-icon" id="toggle" style="background: url('<%= songs[currentSong].image %>');">
  <div class="overlay">
    <div id="play">
      <svg viewBox="0 0 90 90" preserveAspectRatio="none">
        <g>
          <svg width="90" height="90">
            <path fill="#fff" d="m60.938,44.531l-23.467,-17.778c-0.672,-0.509 -1.576,-0.594 -2.331,-0.219c-0.755,0.375 -1.233,1.147 -1.233,1.99v35.556c0,0.84299 0.478,1.615 1.233,1.99s1.659,0.29 2.331,-0.219l23.467,-17.778c0.556,-0.422 0.88,-1.074 0.88,-1.771s-0.324,-1.349 -0.88,-1.771z" />
          </svg>
        </g>
      </svg>
    </div>
    <div class="selected" id="pause">
      <svg viewBox="0 0 90 90" preserveAspectRatio="none">
        <g>
          <svg width="90" height="90">
            <g>
              <path fill="#fff" d="m37.64799,23.803h-7c-0.658,0 -1.302,0.267 -1.76801,0.732c-0.466,0.466 -0.73199,1.11 -0.73199,1.768v40c0,0.658 0.267,1.302 0.73199,1.768c0.465,0.466 1.10899,0.732 1.76801,0.732h7c0.658,0 1.302,-0.267 1.76801,-0.732c0.466,-0.465 0.73199,-1.109 0.73199,-1.768v-40c0,-0.658 -0.267,-1.302 -0.73199,-1.768c-0.465,-0.466 -1.10899,-0.732 -1.76801,-0.732z"/>
              <path fill="#fff" d="m60.83299,24.535c-0.465,-0.465 -1.10901,-0.732 -1.76801,-0.732h-7c-0.658,0 -1.302,0.267 -1.76799,0.732c-0.466,0.466 -0.73201,1.11 -0.73201,1.768v40c0,0.658 0.267,1.302 0.73201,1.768c0.465,0.466 1.10899,0.732 1.76799,0.732h7c0.658,0 1.302,-0.267 1.76801,-0.732c0.466,-0.465 0.73199,-1.109 0.73199,-1.768v-40c0.00101,-0.658 -0.26599,-1.303 -0.73199,-1.768z"/>
            </g>
          </svg>
        </g>
      </svg>
    </div>
  </div>
</div>
<div class="small-icon" id="next" style="background: url('<%= songs[nextSong(currentSong)].image %>');">
  <div class="overlay">
    <svg viewBox="0 0 90 90" preserveAspectRatio="none">
      <g>
        <svg width="90" height="90">
          <path fill="#fff" d="m66.825,45.50699l-18.131,-17.77899c-0.637,-0.62401 -1.594,-0.80701 -2.417,-0.46201s-1.362,1.157 -1.362,2.049v13.028l-14.904,-14.61499c-0.637,-0.62401 -1.594,-0.80701 -2.417,-0.46201c-0.822,0.345 -1.361,1.157 -1.361,2.049v35.55699c0,0.892 0.54,1.703 1.362,2.04901s1.78,0.16199 2.417,-0.46201l14.904,-14.61398v13.02698c0,0.892 0.54,1.703 1.362,2.04901c0.822,0.34601 1.779,0.16199 2.416,-0.46201l18.131,-17.77798c0.424,-0.41602 0.666,-0.99301 0.666,-1.58701s-0.242,-1.17099 -0.666,-1.58701z" />
        </svg>
      </g>
    </svg>
  </div>
</div>
