<!DOCTYPE html>
<html>
<head>
	<title>Butternife</title>
	<link href="/css/lib/jquery-ui.min.css" media="all" rel="stylesheet">
	<link href="/css/lib/bootstrap.min.css" media="all" rel="stylesheet">
	<link href="/css/lib/bootstrap-responsive.min.css" media="all" rel="stylesheet">
	<link href="/css/app.css" media="all" rel="stylesheet">
	<link href="/css/show.css" media="all" rel="stylesheet">
	<link href="/css/new.css" media="all" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/js/lib/underscore-min.js"></script>
	<script src="/js/lib/backbone-min.js"></script>
	<script src="/js/lib/jquery-ui.min.js"></script>
	<script src="/js/lib/jquery-cookie.js"></script>
	<script src="/js/lib/bootstrap.min.js"></script>
<body>