<% include layout-top.ejs %>
<div class="centered-container">
	<div class="container-border">
		<h1 id="butternife">Butternife</h1>
	</div>
	<div id="powered-by">
		<span>Powered By</span><img src="/img/exfm-logo.png">
	</div>
	<div class="input-area">
		<form id="join" method="post">
			<div class="input-container">
				<div class="control-group">
					<label for="join-name"><h4>Create or join a music room</h4></label>
					<input id="join-name" name="join-name" type="text" placeholder="Enter room name" class="input-large">
				</div>
				<div class="control-group" id="mode-select">
					<span data-toggle="tooltip" id="party-tooltip">
						<label class="radio inline">
					  		<input type="radio" name="music-mode" id="party-mode" value="0" checked>
					  		Party
						</label>
					</span>
					<span data-toggle="tooltip" id="shared-tooltip">
						<label class="radio inline">
					  		<input type="radio" name="music-mode" id="shared-mode" value="1">
					  		Shared
					  	</label>
					 </span>
				</div>
				<button id="join-submit" type="submit" class="btn btn-large btn-primary">Jam!</button>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript" src="/js/new.js"></script>
<% include layout-bottom.ejs %>