<% include layout-top.ejs %>
<header>
    <div id="search">
        <form>
            <div class="input-append" id="search-slide">
                <input type="text" id="search-bar">
                <button type="submit" class="btn" id="search-button"><i class="icon-search"></i></button>
            </div>
        </form>
        <div id="results">
            <button class="close" id="close-results">&times;</button>
        </div>
    </div>
    <h1><%= name %></h1>
</header>
<div id="player">
    <div class="small-icon" id="prev">
        <div class="overlay">
            <!-- TODO: replace with better vectors -->
            <svg viewBox="0 0 200 200" preserveAspectRatio="none">
                <g>
                    <svg>
                        <path transform="rotate(-180 100.862 100.065)" d="m153.72733,95.89415l-48.01389,-47.0817c-1.68688,-1.65249 -4.22118,-2.1371 -6.40061,-1.22348s-3.6068,3.06392 -3.6068,5.42609l0,34.5003l-39.46826,-38.70292c-1.68688,-1.65249 -4.22118,-2.1371 -6.40062,-1.22348c-2.1768,0.91361 -3.60415,3.06392 -3.60415,5.42609l0,94.16078c0,2.36217 1.43,4.50984 3.6068,5.42613s4.71373,0.42896 6.40062,-1.2235l39.46825,-38.70023l0,34.49759c0,2.36217 1.43001,4.50984 3.6068,5.42613c2.1768,0.91629 4.71109,0.42896 6.39797,-1.2235l48.01389,-47.07902c1.12283,-1.10168 1.76367,-2.62966 1.76367,-4.20267s-0.64084,-3.10098 -1.76367,-4.20266l0,0.00002z" fill="#fff" />
                    </svg>
                </g>
            </svg>
        </div>
    </div>
    <div class="large-icon" id="toggle">
        <div class="overlay">
            <div class="selected" id="play">
                <svg viewBox="0 0 300 300" preserveAspectRatio="none">
                    <g>
                        <svg>
                            <g transform="matrix(3.66808 0 0 3.66808 -91.2232 266.862)">
                                <svg y="-106.63573" x="-41.91067">
                                    <path fill="#fff" d="m121.938,73.531l-23.467,-17.778c-0.672,-0.509 -1.576,-0.594 -2.331,-0.219c-0.755,0.375 -1.233,1.147 -1.233,1.99l0,35.556c0,0.84299 0.478,1.615 1.233,1.99s1.659,0.29 2.331,-0.219l23.467,-17.778c0.556,-0.422 0.88,-1.074 0.88,-1.771s-0.324,-1.349 -0.88,-1.771z" />
                                </svg>
                            </g>
                        </svg>
                    </g>
                </svg>
            </div>
            <div id="pause">
                <svg viewBox="0 0 90 90" preserveAspectRatio="none">
                    <g>
                      <svg width="90" height="90" xmlns="http://www.w3.org/2000/svg">
                        <g>
                          <path fill="#fff" d="m37.64799,22.803h-7c-0.658,0 -1.302,0.267 -1.76801,0.73199c-0.466,0.466 -0.73199,1.11001 -0.73199,1.76801v40.00001c0,0.65799 0.267,1.302 0.73199,1.76799c0.465,0.466 1.10899,0.73201 1.76801,0.73201h7c0.658,0 1.302,-0.26701 1.76801,-0.73201c0.466,-0.465 0.73199,-1.10901 0.73199,-1.76799v-40.00001c0,-0.658 -0.267,-1.302 -0.73199,-1.76801c-0.465,-0.466 -1.10899,-0.73199 -1.76801,-0.73199z"/>
                          <path fill="#fff" d="m60.83299,23.535c-0.465,-0.465 -1.10901,-0.73199 -1.76801,-0.73199h-7c-0.658,0 -1.302,0.267 -1.76799,0.73199c-0.466,0.466 -0.73201,1.11001 -0.73201,1.76801v40.00001c0,0.658 0.267,1.302 0.73201,1.768c0.465,0.466 1.10899,0.73201 1.76799,0.73201h7c0.658,0 1.302,-0.26701 1.76801,-0.73201c0.466,-0.465 0.73199,-1.10901 0.73199,-1.768v-40.00001c0.00101,-0.658 -0.26599,-1.303 -0.73199,-1.76801z"/>
                        </g>
                      </svg>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <div class="small-icon" id="next">
        <div class="overlay">
            <svg viewBox="0 0 200 200" preserveAspectRatio="none">
                <g>
                    <svg>
                        <path d="m153.72733,95.89415l-48.01389,-47.0817c-1.68688,-1.65249 -4.22118,-2.1371 -6.40061,-1.22348s-3.6068,3.06392 -3.6068,5.42609l0,34.5003l-39.46826,-38.70292c-1.68688,-1.65249 -4.22118,-2.1371 -6.40062,-1.22348c-2.1768,0.91361 -3.60415,3.06392 -3.60415,5.42609l0,94.16078c0,2.36217 1.43,4.50984 3.6068,5.42613s4.71373,0.42896 6.40062,-1.2235l39.46825,-38.70023l0,34.49759c0,2.36217 1.43001,4.50984 3.6068,5.42613c2.1768,0.91629 4.71109,0.42896 6.39797,-1.2235l48.01389,-47.07902c1.12283,-1.10168 1.76367,-2.62966 1.76367,-4.20267s-0.64084,-3.10098 -1.76367,-4.20266l0,0.00002z" fill="#fff"/>
                    </svg>
                </g>
            </svg>
        </div>
    </div>
</div>
<div id="gallery">
</div>

<script type="text/javascript" src="/js/show.js"></script>
<% include layout-bottom.ejs %>