<% include layout-top.ejs %>
<header>
    <div id="search">
        <form>
            <div class="input-append" id="search-slide">
                <input type="text" id="search-bar">
                <button type="submit" class="btn" id="search-button"><i class="icon-search"></i></button>
            </div>
        </form>
        <div id="results">
            <button class="close" id="close-results">&times;</button>
        </div>
    </div>
    <h1><%= name %></h1>
</header>
<div id="player">
</div>
<div id="gallery">
</div>

<script type="text/javascript" src="/js/show.js"></script>
<% include layout-bottom.ejs %>
